#content {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

#password2 {
	display: none;
}

.input-content .row {
	margin-bottom: 0px;
}