<nav class="nav-extended" *ngIf="authService.isLogged">
	<!-- Header com Logo -->
	<div class="nav-wrapper">
	  <a class="brand-logo">QueroDinheiros</a>
	  <a data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>
	<!-- menu -->
	<ul id="slide-out" class="side-nav">
	    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
	    <li><a href="#!">Second Link</a></li>
	    <li><div class="divider"></div></li>
	    <li><a class="subheader">Subheader</a></li>
	    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
	  </ul>
	<!-- Abas  -->
	<div class="nav-content">
	  <ul class="tabs tabs-transparent">
	    <li class="tab">
	    	<a routerLink="/spendings/add" [ngClass]="{'active': '/spendings/add' == currentRoute }">Adicionar</a>
	    </li>
	    <li class="tab">
	    	<a routerLink="/spendings/view" [ngClass]="{'active': '/spendings/view' == currentRoute }">Gastos</a>
	    </li>
	    <li class="tab">
	    	<a routerLink="/investments/view" [ngClass]="{'active': '/investments/view' == currentRoute }">Investimentos</a>
	    </li>
	  </ul>
	</div>
</nav>
