
<div style="margin-top: 20px;"></div>


<div *ngIf="!chartReady" id="wrapper" style="text-align: center">    
    <div id="yourdiv" style="display: inline-block;">
    	<md-spinner></md-spinner>
    </div>
</div>

<div (chartLoaded)="chartReady = $event" style="margin-bottom: 20px;" 
		id="pie_chart" [chartData]="pie_ChartData" 
		[chartOptions] = "pie_ChartOptions" 
		chartType="PieChart" appGoogleChart></div>

<div class="row">
	<div class="col s12">
		<div class="example-card">
			<div>
				<div>
			    <h5 style="margin-bottom: -20px;">Gasto no mês</h5>
				</div>
				<div>
			    <p class="colored-number">{{ databaseSummary?.currentMonth.totalDebit | currency:'BRL':true }}</p>
				</div>
			</div>

			<div>
				<div>
			    <h5 style="margin-bottom: -20px;">Ainda tenho</h5>
				</div>
				<div>
			    <p class="colored-number">{{ hasLeft | currency:'BRL':true }}</p>
				</div>
			</div>
		</div>
	</div>
	
</div>