/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.mat-tab-links {
	background-color: rgba(0, 60, 107, 0.8) !important;
	display: flex !important;
  justify-content: space-around !important;
}

.mat-ink-bar {
  background-color: #fff;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: end;
}