 <div id="test1" class="col s12">
  	<div class="row">
  	    <form class="col s12">
  	    	<div style="margin-top:20px;"></div>
  	    	<div class="row">
  	    		<div class="col s12">
  					<h5>Configurações</h5>
  	    		</div>
  	    	</div>

  	    	<!-- Salário -->
  	    	<div class="row">
  	    		<div class="input-field col s12">
  	    			<i class="material-icons prefix">work</i>
  	    			<label class="active" for="first_name">Atualizar Salário</label>
  	    			<input name="tags" placeholder="500" type="number"
  	    			[(ngModel)]="salary">
  	    		</div>
  	    	</div>

  	      	<!-- Button -->
  	      	<div class="row">
  	      		<div class="col s12">
  	      			<a id="spedingRecord" class="waves-effect waves-light btn" (click)="updateSettings()">Atualizar</a>
  	      		</div>
  	      	</div>

  	    </form>
  	  </div>
  </div>